# Rust build artifacts
target/
analyzer-target/
Cargo.lock

# Web and WASM
web-root/
release/
**/node_modules/
package-lock.json
bun.lock
bun.lockb
dist/

# Python & Tooling
__pycache__/
*.py[cod]
*.class
.venv/
env/

# IDE & OS
.DS_Store
Thumbs.db
**/.idea/
/.vscode/
*.code-workspace
/rust-toolchain
/setup

# Testing & Performance Logs
testing/integration/perflogs*
/testing/integration/testdata/dags_for_json_tests/goref-mainnet
/testing/integration/testdata/dags_for_json_tests/goref-1.6M-tx-10K-blocks

# Local DBs & Configurations
**/db-*
Servers.toml

# Sensitive Data & Wallets
*.env*
*.key
*.priv
*.wallet
*.pem
